<main role="main">
  <div class="jumbotron tag-format">
    <div class=row>
      <div class="col-4 link-custom">
      <h2>Categories</h2>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category)%>
        
        <br>
      <% end %> 
    </div>
    
    <div class="col-8 vertical-line">
      <% if logged_in? %>
      <div class="btn-add-item">
        <%= link_to 'Add Item', new_item_path, :class=>'btn-add-item'%>
      </div>
      <% end%>
      <h2 class="title-based">Latest Items</h2>
      <% @items.each do |item| %>
        <%= link_to item.name, item_path(item)%> (<%= item.category.name %>)
        <br>
      <% end %> 
    </div>
    </div>
    
  </div>
</main>
  